@font-face {
  font-family: 'Assassins';
  src: url('../assets/fonts/Assassin$.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
}

.danger-custom {
  color: rgb(172, 0, 0);
}

.bg-nav-custom {
  background-color: #000000 !important;
}

.bg-dark-custom {
  background-color: rgba(0, 0, 0, 0.6);
}

.mt-custom {
  margin-top: 8rem;
}

.fs-custom {
  font-size: 0.875rem;
}

#hero {
  width: 100%;
  min-height: 100vh;
  background-image: url('../assets/images/hero.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
}

#hero::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: -1;
}

#hero::after {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(20, 20, 20, 0.205);
  background-image: linear-gradient(
    to bottom,
    #05193700,
    #17122800,
    #190a1a00,
    #12040d00,
    #000000
  );
  z-index: -2;
}

.title {
  font-family: 'Assassins', sans-serif;
  font-size: 3.5rem;
}

.line {
  border: none;
  height: 3px;
  background-color: #ffffff;
}

.hero-lead {
  background-color: black;
  font-style: italic;
  font-weight: 700;
  letter-spacing: 6px;
  text-transform: uppercase;
}

.comingsoon {
  text-transform: uppercase;
  font-family: 'Assassins';
  font-size: 2rem;
  opacity: 0;
  animation: fade 1.8s ease 1s forwards;
}

@keyframes fade {
  from {
    transform: translateY(-1rem);
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.section-title span {
  width: max-content;
  font-style: italic;
  font-weight: 700;
  letter-spacing: 6px;
}

.section-subtitle {
  font-size: 18px;
}

.video {
  width: 100%;
  height: 100%;
}

.navbar {
  z-index: 9999 !important;
}

.btn-custom {
  background-color: rgb(176, 0, 0) !important;
  outline: none !important;
  border: none !important;
}

@media screen and (min-width: 575px) {
  .title {
    font-size: 5rem;
  }
}

@media screen and (min-width: 768px) {
  .mt-md-custom {
    margin-top: 12rem;
  }

  .mt-md-custom-8 {
    margin-top: 3.75rem !important;
  }

  .comingsoon {
    font-size: 3rem;
  }
}

@media screen and (min-width: 992px) {
  .mt-lg-custom {
    margin-top: 3rem;
  }

  .mt-md-custom-8 {
    margin-top: 5rem !important;
  }
}

@media screen and (min-width: 1550px) {
  .mt-xl-custom {
    margin-top: 8rem;
  }
}
